<div class="auth-page">
    <div class="hero">
        <h1>嗷～忘記密碼了嗎？</h1>
        <p>沒關係，讓 Petel 幫你重新開啟大門 🐾</p>
    </div>

    <div class="auth-card">
        <h2 class="card-title">重設密碼</h2>

        <form [formGroup]="resetForm" (ngSubmit)="onReset()">
            <div class="input-container">
                <label for="password">新密碼</label>
                <p-password
                    formControlName="password"
                    [feedback]="false"
                    inputStyleClass="petel-input"
                    [toggleMask]="true"
                />
            </div>
            <div class="error-message">
                @if (password?.invalid && (password?.touched || submitted)) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (password?.hasError('required')) { 新密碼為必填欄位。 }
                        @if (password?.hasError('minlength')) { 長度至少 8 碼。 }
                        @if (password?.hasError('maxlength')) { 長度不可超過 64 碼。 }
                    </p-message>
                }
            </div>

            <div class="input-container">
                <label for="password">確認新密碼</label>
                <p-password
                    formControlName="confirmPassword"
                    [feedback]="false"
                    inputStyleClass="petel-input"
                    [toggleMask]="true"
                >
                </p-password>
            </div>
            <div class="error-message">
                @if ((confirmPassword?.invalid && (confirmPassword?.touched || submitted)) ||
                 (form.errors?.['passwordsMismatch'] && (confirmPassword?.touched || submitted))) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (confirmPassword?.hasError('required')) { 請再次輸入新密碼。 }
                        @if (form.errors?.['passwordsMismatch']) { 兩次密碼不一致。 }
                    </p-message>
                }
            </div>
            <div class="button-container">
                <button
                    pButton
                    type="submit"
                    [loading]="isLoading"
                    label="送出"
                ></button>
            </div>
        </form>
    </div>
</div>
