:host ::ng-deep .petel-auth-dialog .p-dialog-header {
  padding-left: 30px;
}
:host ::ng-deep .petel-auth-dialog.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.75rem;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-container {
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-between;
    font-size: 1.75rem;
}
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
:host ::ng-deep .button-container .p-button {
  font-size: 1.25rem;
}
:host ::ng-deep .button-container .p-button .p-button-label {
  font-size: 1.25rem;
}
.input-container input {
    width: 70%;
}
