.footer {
    background-color: #974B2C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    height: 110px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-items {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #f6f2f2;
    margin-top: 10px;
}

.navbar-items li {
    margin-right: 40px;
    font-size: 25px;
    cursor: pointer;
}

.navbar-items li:hover {
    color: #f0c36d;
}

.footer-logo {
    text-align: center;
    color: #d8d4d4;
    font-size: 20px;
}

/* 響應式調整 */
@media (max-width: 600px) {
    .navbar-items li {
        font-size: 20px;
        margin: 0 8px;
    }

    .footer-logo {
        font-size: 10px;
    }

    .footer {
        padding: 8px 0;
    }
}