<div class="auth-page">
    <div class="hero">
        <h1>管理員後台</h1>
        <p>Petel 後台管理系統 🔒</p>
    </div>

    <div class="auth-card">
        <h2 class="card-title">管理員登入</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="input-container">
                <label for="email">信箱</label>
                <input pInputText id="email" formControlName="email" placeholder="請輸入管理員信箱" />
            </div>
            <div *ngIf="emailControl?.invalid && emailControl?.touched" class="error-text">
                {{ getErrorMessage('email') }}
            </div>

            <div class="input-container-password">
                <label for="password">密碼</label>
                <p-password formControlName="password" [feedback]="false" inputStyleClass="petel-input"
                    placeholder="請輸入密碼">
                </p-password>
            </div>
            <div *ngIf="passwordControl?.invalid && passwordControl?.touched" class="error-text">
                {{ getErrorMessage('password') }}
            </div>

            <div class="button-container">
                <button pButton type="button" class="p-button-secondary ghost" (click)="onCancel()">取消</button>
                <button pButton type="submit" [disabled]="isLoading || loginForm.invalid || loginForm.pending"
                    [loading]="isLoading" label="登入"></button>
            </div>
        </form>
    </div>
</div>
