html, body {
  height: 100%; /* 確保 html 和 body 佔滿視窗高度 */
}
/* body {
  display: flex;
  flex-direction: column;
} */
main {
  flex-grow: 1; /* 讓 main 區域佔據所有剩餘空間 */
  font-size: 25px;
  max-width: 1920px;
  /* padding: 30px; */
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 讓畫面至少撐滿整個視窗高度 */
}

.content {
  padding-top: 85px;    /* 預留 header 空間 */
  /* padding-bottom: 110px;  */ /* 預留 footer 空間 */
  min-height: calc(100vh - 100px); /* 100vh 減去 header + footer 的高度 */
  box-sizing: border-box;
}
