.header {
    background-color: #974B2C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
}

.navbar-items {
    display: flex;
    list-style: none;
    color: #f6f2f2;
    margin-top: 10px;
}

.navbar-items li {
    margin-right: 40px;
    font-size: 25px;
}

.account {
    display: flex;
    align-items: center;
    gap: 50px;
}

.LoginLogout {
    color: #f6f2f2;
    border: 1px solid #f6f2f2;
}