.footer {
    background-color: #974B2C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    height: 110px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.footer-logo {
    text-align: center;
    color: #d8d4d4;
    font-size: 10px;
}

/* ���t */
@media (max-width: 600px) {
    .footer-logo {
        font-size: 10px;
    }

    .footer {
        padding: 8px 0;
    }
}
