.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-container {
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-between;
}
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
