form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.dates {
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.in_out_dates {
    flex: 1;
    max-width: 75%;
}

.between_in_out {
    margin-left: auto;
    max-width: 25%;
}

.dates ::ng-deep .p-datepicker,
.dates ::ng-deep .p-datepicker .p-inputtext,
.dates input[pInputText] {
    height: 60px;
}

.in_out_dates ::ng-deep .p-datepicker {
    width: 100%;
}

.in_out_dates ::ng-deep .p-datepicker .p-inputtext {
    width: 100%;
}

.hotel_infos {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: #F0E4D8;
}

.hotel_infos_photo {
    flex: 1;
}

.hotel_photo {
    padding: 5%;
}

.hotel_infos_text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hotel_infos_text_title {
    font-weight: bold;
    color: #666;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel_infos_text_table {
    width: 100%;
    border-collapse: collapse;
    /* 移除預設的格子間距 */
}

.hotel_infos_text_table td {
    padding: 15px 30px;
}

/* 如果想讓左欄（標題欄）與右欄有不同樣式 */
.hotel_infos_text_table td:first-child {
    font-weight: bold;
    color: #666;
    width: 180px;
    /* 固定左欄寬度 */
}

.order_infos {
    width: 80%;
    margin: 0 auto;
    background-color: #F0E4D8;
}

.order_infos_titie {
    font-weight: bold;
    color: #666;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.order_infos_detail_table {
    width: 100%;
    border-collapse: collapse;
    /* 移除預設的格子間距 */
}

.order_infos_detail_table td {
    padding: 15px 30px;
}

/* 如果想讓左欄（標題欄）與右欄有不同樣式 */
.order_infos_detail_table td:first-child {
    font-weight: bold;
    color: #666;
    width: 250px;
    /* 固定左欄寬度 */
}

.additional_infos {
    width: 80%;
    margin: 0 auto;
    background-color: #F0E4D8;
}

.additional_infos_titie {
    font-weight: bold;
    color: #666;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.additional_infos_text_table {
    width: 100%;
    border-collapse: collapse;
}

.additional_infos_text_table td {
    padding: 15px 30px;
}

/* 如果想讓左欄（標題欄）與右欄有不同樣式 */
.additional_infos_text_table td:first-child {
    font-weight: bold;
    color: #666;
    width: 250px;
}

.guest_infos {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: #F0E4D8;
}

.guest_infos_title {
    font-weight: bold;
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.guest_infos_same {
    padding: 30px;
}

.guest_infos_diff {
    padding: 30px;
}

.guestType {
    padding-left: 15px;
    font-weight: bold;
    color: #666;
}

.member_data {
    padding-top: 30px;
    padding-left: 60px;
    font-size: 95%;
}

.guest_infos_diff_input {
    padding-top: 15px;
}

.order_note {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: #F0E4D8;
}

.order_note_title {
    font-weight: bold;
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.payment_options {
    width: 80%;
    margin: 0 auto;
    background-color: #F0E4D8;
}

.submit_button {
    width: 80%;
    margin: 0 auto;
    background-color: #824d28;
    color: #ffe8c4;
    margin-bottom: 60px;
}

.input_square_frame {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

img {
    display: block;
    /* 確保圖片能正確填滿容器 */
    max-width: 80%;
    /* 圖片的最大寬度為父容器的 100% */
    display: flex;
    align-items: center;
}
